<div class="backdrop">
  <div class="modal-burger-menu">
    <button type="button" class="modal-close-btn">
      <svg class="modal-close-icon" width="32" height="32">
        <use href=""></use>
      </svg>
    </button>

    <ul class="mob-menu-list">
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="">How It Works</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="">Vegetables</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="">Reviews</a>
      </li>
    </ul>

    <button class="order-btn">Shop now</button>
  </div>
</div>
