<div class="backdrop is-open" data-menu>
  <div class="container modal-burger-menu">
    <button type="button" class="modal-close-btn" data-menu-close>
      <svg class="modal-close-icon" width="32" height="32">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <nav class="mob-menu-nav">
      <ul class="mob-menu-list">
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#how-it-works">How It Works</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>

    <button class="order-btn">Shop now</button>
  </div>
</div>
