<footer class="footer">
  <div class="footer-content">
    <div class="logo-section">
      <a class="logo header-logo" href="./index.html">
        <svg class="logo-svg" width="168" height="16">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <p class="slogan">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>
    <div class="footer-rights-side">
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-links">
            <a href="#how-it-works">how it works</a>
          </li>
          <li class="footer-nav-links">
            <a href="#vegetables">vegetables</a>
          </li>
          <li class="footer-nav-links"><a href="#reviews">reviews</a></li>
        </ul>
      </nav>
      <div class="contacts">
        <a href="tel:+380684439426">+380 (68) 443-94-26</a>
        <p>1678 S. Pioneer Road Salt Lake City, UT 84104</p>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-links">
      <a href="/privacy-policy">Privacy Policy</a>
      <span class="decorative-slash"> / </span>
      <a href="/cookie-settings">Cookie Settings</a>
    </div>
    <div class="copyright">© Green Harvest 2023</div>
  </div>
</footer>
