<header class="header">
  <div class="logo">
    <a href="" class="logo-link">
      <svg class="header-logo-icon" width="16" height="16">
        <use href="/"></use>
      </svg>
      <svg class="header-logo-text" width="148" height="12">
        <use href="/"></use>
      </svg>
    </a>
  </div>

  <nav class="header-nav">
    <ul class="nav-list">
      <li><a class="nav-link" href="#how-it-works">How it works</a></li>
      <li><a class="nav-link" href="#vegetables">Vegetables</a></li>
      <li><a class="nav-link" href="#reviews">Reviews</a></li>
    </ul>
  </nav>
  <button class="shop-btn" type="button">Shop now</button>
</header>
