<header class="header">
  <div class="logo">
    <a href="" class="logo-link">
      <svg class="header-logo" width="168" height="16">
        <use href="../img/icons.svg#icon-logo"></use>
      </svg>
    </a>
  </div>

  <nav class="header-nav">
    <ul class="nav-list">
      <li><a class="nav-link" href="#how-it-works">How it works</a></li>
      <li><a class="nav-link" href="#vegetables">Vegetables</a></li>
      <li><a class="nav-link" href="#reviews">Reviews</a></li>
    </ul>
  </nav>
  <button class="shop-btn" type="button">Shop now</button>
</header>
