<header class="header">
  <div class="container">
    <div class="logo">
      <a href="" class="logo-link">
        <svg class="header-logo-icon">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>
    </div>

    <nav class="header-nav">
      <ul class="nav-list">
        <li><a class="nav-link" href="#how-it-works">How it works</a></li>
        <li><a class="nav-link" href="#vegetables">Vegetables</a></li>
        <li><a class="nav-link" href="#reviews">Reviews</a></li>
      </ul>
    </nav>
    <button class="header-shop-btn" type="button">Shop now</button>
    <button class="header-burger-btn" type="button">
      <svg class="header-burger-icon">
        <use href="/images/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
