<section class="how_it_works">
  <h2 class="visually-hidden">How to Order Your Vegetable Basket</h2>
  <div class="woman">
    <img
      src="../img/how_it_works/woman-mobile-1x-min.webp"
      alt="Woman cutting fresh vegetables in the kitchen"
      class="order-image"
      width=""
      height=""
    />
  </div>

  <div class="order-container">
    <!-- <img
      src="../img/how_it_works/woman-mobile-1x-min.webp"
      alt="Woman cutting fresh vegetables in the kitchen"
      class="order-image"
      width=""
      height=""
    /> -->
    <div class="order-content">
      <h3 class="order-title">
        TO ORDER YOUR <span class="highlight">VEGETABLE</span> BASKET, SIMPLY
        FOLLOW THESE
        <span class="highlight">EASY STEPS</span>
      </h3>
      <p class="order-description">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="order-list">
        <li class="order-list-item">
          <div class="list-item-content">
            Just choose the <strong>vegetable</strong> you want to order by
            clicking on the checkboxes <strong>next to it.</strong>
          </div>
        </li>
        <li class="order-list-item">
          <div class="list-item-content">
            Click on the <strong>basket</strong> and fill out the form.
          </div>
        </li>
        <li class="order-list-item">
          <div class="list-item-content">
            Sit back and relax! Your <strong>fresh vegetables</strong> basket
            will be delivered.
          </div>
        </li>
      </ol>
    </div>
  </div>
</section>
