<section class=“how-it-works” id=“how-it-works”>
    <div class=“container”>
      <div class=“container-hidth”>
        <div class=“image-section”>
          <picture class=“picture”>
            <source
              media=“(min-width:1280px)”
              srcset="
              /img/how_it_works/woman-desk-1x-min.webp 1x,
              /img/how_it_works/woman-desk@2x-min.webp 2x
                    "
      
            />
            <source
              media=“(min-width:768px)”
              srcset="
                /img/how_it_works/woman-tablet-1x-min.webp 1x,
                /img/how_it_works/woman-tablet@2x-min.webp 2x
                "
            />
            <source
              media=“(max-width:767px)”
              srcset="
                /img/how_it_works/woman-mobile-1x-min.webp 1x,
                /img/how_it_works/woman-mobile@2x-min.webp 2x
                "
            />
            <img
              src=“/img/how_it_works/woman-tablet-1x-min.webp”
              alt=“Cooking Vegetables”
              width=“335”
              height=“452”
            />
          </picture>
        </div>
        <div class=“text-section”>
          <h2 class=“visually-hidden”>How it works</h2>
          <h3>
            TO ORDER YOUR <span class=“highlight”>VEGETABLE</span> BASKET, SIMPLY
            FOLLOW THESE <span class=“highlight”>EASY STEPS</span>
          </h3>
          <p>
            Our baskets are assembled with care and delivered straight to your
            doorstep, so you can enjoy fresh fruit without ever leaving home.
          </p>
          <ol class=“steps”>
            <li class=“step”>
              <p>
                Just choose the <span class=“step-highlight”>vegetable</span> you
                want to order by clicking on the checkboxes
                <span class=“step-highlight”>next to it.</span>
              </p>
            </li>
            <li class=“step”>
              <p>
                Click on the <span class=“step-highlight”>basket</span> and fill
                out the form.
              </p>
            </li>
            <li class=“step”>
              <p>
                Sit back and relax! Your
                <span class=“step-highlight”>fresh vegetables</span> basket will
                be delivered.
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>