<section id="reviews" class="review">
    <div class="container">
        <div class="title_rew">
            <h2 class="head_review">
                REWIEWS FROM OUR
                <span class="custommers">
                    CUSTOMMERS
                </span>
            </h2>
            <p class="words">
                Words of our customers: impressions and opinions about the quality of our services and the freshness of our products.
            </p>
        </div>
        <ul class="review_card">
            <li class="card">
                <img 
                srcset = "./img/reviews/team-1-min.webp 1x, ./img/reviews/team-1@2x-min.webp 2x"
                src="./img/reviews/team-1-min.webp"
                alt="John Wax"
                width="56"
                height="56">
                <div class="reviewer">
                    <p class ="reviewer_name">
                        John Wax
                    </p>
                    <p class="comment">
                    These vegetables are my secret to delicious and healthy meals. The quality is always at the highest level, the aroma and
                    taste are enchanting. I advise every fan of real products!
                    </p>
                </div>
            </li>
            <li class="card">
                <img 
                srcset="./img/reviews/team-2-min.webp 1x, ./img/reviews/team-2@2x-min.webp 2x"
                src="./img/reviews/team-2-min.webp" 
                alt="Viktoria Romashenko" 
                width="56"
                height="56">
                <div class="reviewer">
                    <p class="reviewer_name">
                        Viktoria Romashenko
                    </p>
                    <p class="comment">
                        I love how fast and fresh the vegetables are delivered. Salads always turn out so appetizing, and soups are real
                        masterpieces. The quality is impeccable!
                    </p>
                </div>
            </li>
            <li class="card">
                <img 
                srcset="./img/reviews/team-3-min.webp 1x, ./img/reviews/team-3@2x-min.webp 2x"
                src="./img/reviews/team-3-min.webp" 
                alt="Ihor Trachuk" 
                width="56"
                height="56">
                <div class="reviewer">
                    <p class="reviewer_name">
                        Ihor Trachuk
                    </p>
                    <p class="comment">
                        Recently tried my fresh tomatoes and peppers - amazing! The authenticity of the taste, as if from the garden directly to
                        my table. It is now my main vegetable supplier.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
    