<section class="vegetables">
  <div class="container">
    <h2 class="veg-titel">organic vegetables</h2>
    <p class="veg-descr">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="veg-list">
      <li class="veg-list-item">
        <div class="veg-list-content">
          <h3 class="veg-list-title">eggplant</h3>
          <p class="veg-list-descr">60 USD / kg</p>
        </div>
      </li>

      <li class="veg-list-item">
        <div class="veg-list-content">
          <h3 class="veg-list-title">leek</h3>
          <p class="veg-list-descr">50 USD / kg</p>
        </div>
      </li>

      <li class="veg-list-item">
        <div class="veg-list-content">
          <h3 class="veg-list-title">mushrooms</h3>
          <p class="veg-list-descr">40 USD / kg</p>
        </div>
      </li>

      <li class="veg-list-item">
        <div class="veg-list-content">
          <h3 class="veg-list-title">corn</h3>
          <p class="veg-list-descr">60 USD / kg</p>
        </div>
      </li>

      <li class="veg-list-item">
        <div class="veg-list-content">
          <h3 class="veg-list-title">sweet potatoes</h3>
          <p class="veg-list-descr">50 USD / kg</p>
        </div>
      </li>

      <li class="veg-list-item">
        <div class="veg-list-content">
          <h3 class="veg-list-title">carrot</h3>
          <p class="veg-list-descr">40 USD / kg</p>
        </div>
      </li>
    </ul>
  </div>
</section>
