<section class="vegetables">
  <div class="container">
    <h2 class="veg-titel">organic vegetables</h2>
    <p class="veg-descr">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="veg-list">
      <li class="veg-list-item">
        <div class="veg-list-content">
          <div class="content-descr">
            <h3 class="veg-list-title">eggplant</h3>
            <p class="veg-list-descr">60 USD / kg</p>
          </div>
          <img
            srcset="
              /src/img/vegetables/eggplant-mob.webp    1x,
              /src/img/vegetables/eggplant-mob@2x.webp 2x
            "
            src="/src/img/vegetables/eggplant-mob.webp"
            alt="eggplant"
            width="280"
          />
        </div>
      </li>

      <li class="veg-list-item">
        <div class="veg-list-content">
          <div class="content-descr">
            <h3 class="veg-list-title">leek</h3>
            <p class="veg-list-descr">50 USD / kg</p>
          </div>
          <img
            srcset="
              /src/img/vegetables/leek-mob.webp    1x,
              /src/img/vegetables/leek-mob@2x.webp 2x
            "
            src="/src/img/vegetables/leek-mob.webp"
            alt="leek"
            width="280"
          />
        </div>
      </li>

      <li class="veg-list-item">
        <div class="veg-list-content">
          <div class="content-descr">
            <h3 class="veg-list-title">mushrooms</h3>
            <p class="veg-list-descr">40 USD / kg</p>
          </div>
          <img
            srcset="
              /src/img/vegetables/mushrooms-mob.webp    1x,
              /src/img/vegetables/mushrooms-mob@2x.webp 2x
            "
            src="/src/img/vegetables/mushrooms-mob.webp"
            alt="mushrooms"
            width="280"
          />
        </div>
      </li>

      <li class="veg-list-item">
        <div class="veg-list-content">
          <div class="content-descr">
            <h3 class="veg-list-title">corn</h3>
            <p class="veg-list-descr">60 USD / kg</p>
          </div>
          <img
            srcset="
              /src/img/vegetables/corn-mob.webp    1x,
              /src/img/vegetables/corn-mob@2x.webp 2x
            "
            src="/src/img/vegetables/corn-mob.webp"
            alt="corn"
            width="280"
          />
        </div>
      </li>

      <li class="veg-list-item">
        <div class="veg-list-content">
          <div class="content-descr">
            <h3 class="veg-list-title">sweet potatoes</h3>
            <p class="veg-list-descr">50 USD / kg</p>
          </div>
          <img
            srcset="
              /src/img/vegetables/potatoes-mob.webp    1x,
              /src/img/vegetables/potatoes-mob@2x.webp 2x
            "
            src="/src/img/vegetables/potatoes-mob.webp"
            alt="sweet potatoes"
            width="280"
          />
        </div>
      </li>

      <li class="veg-list-item">
        <div class="veg-list-content">
          <div class="content-descr">
            <h3 class="veg-list-title">carrot</h3>
            <p class="veg-list-descr">40 USD / kg</p>
          </div>
          <img
            srcset="
              /src/img/vegetables/carrot-mob.webp    1x,
              /src/img/vegetables/carrot-mob@2x.webp 2x
            "
            src="/src/img/vegetables/carrot-mob.webp"
            alt="carrot"
            width="280"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
