<section class="vegetables" id="vegetables">
  <div class="container">
    <h2 class="veg-titel">
      organic<span class="veg-titel-span">vegetables</span>
    </h2>
    <p class="veg-descr">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="veg-list">
      <li class="veg-list-item">
        <div class="veg-list-content">
          <div class="content-descr">
            <h3 class="veg-list-title">eggplant</h3>
            <p class="veg-list-descr">60 USD / kg</p>
          </div>
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                /src/img/vegetables/eggplant-desk.webp    1x,
                /src/img/vegetables/eggplant-desk@2x.webp 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                /src/img/vegetables/eggplant-tab.webp    1x,
                /src/img/vegetables/eggplant-tab@2x.webp 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                /src/img/vegetables/eggplant-mob.webp    1x,
                /src/img/vegetables/eggplant-mob@2x.webp 2x
              "
            />
            <img
              src="/src/img/vegetables/eggplant-desk.webp"
              alt="eggplant"
              width="280"
            />
          </picture>
        </div>
      </li>

      <li class="veg-list-item">
        <div class="veg-list-content">
          <div class="content-descr">
            <h3 class="veg-list-title">leek</h3>
            <p class="veg-list-descr">50 USD / kg</p>
          </div>
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                /src/img/vegetables/leek-desk.webp    1x,
                /src/img/vegetables/leek-desk@2x.webp 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                /src/img/vegetables/leek-tab.webp    1x,
                /src/img/vegetables/leek-tab@2x.webp 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                /src/img/vegetables/leek-mob.webp    1x,
                /src/img/vegetables/leek-mob@2x.webp 2x
              "
            />
            <img
              src="/src/img/vegetables/leek-desk.webp"
              alt="leek"
              width="280"
            />
          </picture>
        </div>
      </li>

      <li class="veg-list-item">
        <div class="veg-list-content">
          <div class="content-descr">
            <h3 class="veg-list-title">mushrooms</h3>
            <p class="veg-list-descr">40 USD / kg</p>
          </div>
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                /src/img/vegetables/mushrooms-desk.webp    1x,
                /src/img/vegetables/mushrooms-desk@2x.webp 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                /src/img/vegetables/mushrooms-tab.webp    1x,
                /src/img/vegetables/mushrooms-tab@2x.webp 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                /src/img/vegetables/mushrooms-mob.webp    1x,
                /src/img/vegetables/mushrooms-mob@2x.webp 2x
              "
            />
            <img
              src="/src/img/vegetables/mushrooms-desk.webp"
              alt="mushrooms"
              width="280"
            />
          </picture>
        </div>
      </li>

      <li class="veg-list-item">
        <div class="veg-list-content">
          <div class="content-descr">
            <h3 class="veg-list-title">corn</h3>
            <p class="veg-list-descr">60 USD / kg</p>
          </div>
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                /src/img/vegetables/corn-desk.webp    1x,
                /src/img/vegetables/corn-desk@2x.webp 2x
              "
            />
            <source
              media="(min-width:768)"
              srcset="
                /src/img/vegetables/corn-tab.webp    1x,
                /src/img/vegetables/corn-tab@2x.webp 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                /src/img/vegetables/corn-mob.webp    1x,
                /src/img/vegetables/corn-mob@2x.webp 2x
              "
            />
            <img
              src="/src/img/vegetables/corn-desk.webp"
              alt="corn"
              width="280"
            />
          </picture>
        </div>
      </li>

      <li class="veg-list-item">
        <div class="veg-list-content">
          <div class="content-descr">
            <h3 class="veg-list-title">sweet potatoes</h3>
            <p class="veg-list-descr">50 USD / kg</p>
          </div>
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                /src/img/vegetables/potatoes-desk.webp    1x,
                /src/img/vegetables/potatoes-desk@2x.webp 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                /src/img/vegetables/potatoes-tab.webp    1x,
                /src/img/vegetables/potatoes-tab@2x.webp 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                /src/img/vegetables/potatoes-mob.webp    1x,
                /src/img/vegetables/potatoes-mob@2x.webp 2x
              "
            />
            <img
              src="/src/img/vegetables/potatoes-desk.webp"
              alt="sweet potatoes"
              width="280"
            />
          </picture>
        </div>
      </li>

      <li class="veg-list-item">
        <div class="veg-list-content">
          <div class="content-descr">
            <h3 class="veg-list-title">carrot</h3>
            <p class="veg-list-descr">40 USD / kg</p>
          </div>
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                /src/img/vegetables/carrot-desk.webp    1x,
                /src/img/vegetables/carrot-desk@2x.webp 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                /src/img/vegetables/carrot-tab.webp    1x,
                /src/img/vegetables/carrot-tab@2x.webp 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                /src/img/vegetables/carrot-mob.webp    1x,
                /src/img/vegetables/carrot-mob@2x.webp 2x
              "
            />
            <img src="/src/img/vegetables/carrot-desk.webp" alt="carrot" />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
