body {
    font-family: 'Inter Tight', 'Roboto', sans-serif;
    color:  #fbfbfb;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;   
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  