.header {
  position: sticky;
  top: 0;
  background-color: #576f35;
  z-index: 200;
}

.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-link {
  display: flex;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: relative;
}

.logo-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: #fbfbfb;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:hover::after,
.logo-link:focus::after {
  opacity: 1;
}

.header-logo-icon {
  fill: #fbfbfb;
  width: 168px;
  height: 16px;
}

.header-nav,
.header-shop-btn {
  display: none;
}

.header-burger-btn {
  padding: 0;
  background-color: transparent;
  border: none;
}

.header-burger-icon {
  fill: none;
  stroke: #fbfbfb;
  display: block;
  width: 32px;
  height: 32px;
}

@media only screen and (min-width: 768px) {
  .header .container {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .header-logo-icon {
    width: 216px;
    height: 20px;
  }

  .header-burger-icon {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .header {
    position: absolute;
    width: 100%;

    background-color: transparent;
  }

  .header-burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    margin-right: 20px;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .nav-link {
    display: flex;
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 12px;
    justify-content: center;
    align-items: center;

    line-height: 1.25;
    font-family: 'Inter Tight', sans-serif;
    text-transform: capitalize;

    box-sizing: border-box;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover {
    background-color: #d4bfc4;
    color: #7a3145;
    border: 1px solid #d4bfc4;
  }

  .nav-link:focus {
    background-color: #fbfbfb;
    color: #7a3145;
    border: 1px solid #fff;
  }

  .header-shop-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 16px 32px;
    border-radius: 30px;
    border: none;

    background-color: #7a3145;
    color: #fff;
    font-size: 18px;
    line-height: 1.1;
    text-transform: uppercase;
    font-family: 'Inter Tight', sans-serif;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-shop-btn:hover {
    background-color: #d4bfc4;
    color: #7a3145;
  }

  .header-shop-btn:focus {
    background-color: #fbfbfb;
    color: #7a3145;
  }

  .header .logo {
    margin-right: auto;
  }
}
