/* Прихований заголовок для SEO */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Основний контейнер секції */
.how_it_works {
  background: #576f35;
  padding: 60px 20px;
}

.order-container {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}
.woman {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  padding: 40px 20px;
  width: 50%;
  height: 532px;
  background: #7a3145;
}
/* Контентна частина */
.order-content {
  max-width: 600px;
  color: #fff;
  width: 50%;
}

.order-title {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.order-title .highlight {
  color: #b78a9c;
}

.order-description {
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.6;
  color: #e0e0e0;
}

/* Оформлення списку */
.order-list {
  list-style: none;
  padding: 0;
  counter-reset: list-counter;
}

.order-list-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 20px 20px 80px; /* Відступ зліва для лічильника */
  margin-bottom: 15px;
  position: relative;
  counter-increment: list-counter;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.order-list-item::before {
  content: counter(list-counter);
  position: absolute;
  left: 24px; /* Відступ лічильника від лівого краю */
  top: 50%;
  transform: translateY(-50%);
  background-color: #652d3c;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.list-item-content {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.list-item-content strong {
  color: #5c713f;
}

/* Контентне зображення */
.order-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 30px 30px; /* Закруглені тільки верхні кути */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Для адаптивності */
@media (max-width: 768px) {
  .order-container {
    flex-direction: column;
    text-align: left; /* Вирівнювання тексту по лівому краю */
  }
  .how_it_works {
    /*   background: linear-gradient(to bottom, #7a3145 50%, #576f35 50%); */
  }
  .order-image {
    width: 640px;
    height: 640px;
  }

  .order-list-item {
    padding-left: 80px; /* Зберігаємо відступ для лічильника */
  }

  .order-list-item::before {
    left: 24px; /* Лічильник залишається зліва */
    top: 50%;
    transform: translateY(-50%);
  }
}
