.how-it-works {
  /*   display: flex;
  flex-direction: column; */
  background-color: #576f35;
}
/* .container-hidth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.how-it-works > .container {
  padding: 0;
}

.hit-container {
  display: flex;
  flex-wrap: wrap;
}

.image-section {
  /*   display: flex; */
  background-color: #732d40;
  /*   justify-content: center;
  align-items: center; */
  width: 100%;
  padding: 40px 20px;
}

/* .picture-thumb {
  display: block;
  overflow: hidden;
  border-radius: 30px;
  width: 100%;
} */

.picture {
  width: 100%;
  /*   max-width: 335px; */
  height: auto;
  border-radius: 30px;
  display: block;
  overflow: hidden;
}
.text-section {
  /*   display: flex;
  flex-direction: column; */
  width: 100%;
  padding: 80px 20px;
  /* background-color: #576F35; */
}
.text-section > h3 {
  font-size: 28px;
  margin-bottom: 20px;
  line-height: 1;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
}

.text-section > p {
  margin-bottom: 40px;
}

.highlight {
  color: #d4bfc4;
}
.steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*   margin-top: 40px; */
  counter-reset: step-counter;
  /*   list-style: none; */
  gap: 20px;
}
.step {
  display: flex;
  align-items: center;
  width: 100%;
  background: white;
  color: #858585;
  border-radius: 15px;
  position: relative;
  /*   gap: 24px; */
  /*   font-size: 14px;
  line-height: 1.4; */
  padding: 12px 27px 12px 100px;
}
.step::before {
  content: counter(step-counter);
  counter-increment: step-counter;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  background: #7a3145;
  color: white;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  border: 5px solid #d4bfc4;
}
.step-highlight {
  color: #141414;
  font-weight: 700;
}
/* .step p {
  max-width: 90%;
} */
/* .description {
  margin-top: 24px;
} */
@media only screen and (min-width: 768px) {
  .image-section {
    padding: 100px 64px;
  }
  /*   .image-section img {
    width: 100%;
    max-width: 335px;
    height: auto;
    border-radius: 20px;
  } */
  .text-section {
    padding: 100px 164px;
  }
  .text-section > h3 {
    font-size: 32px;
    margin-bottom: 24px;
    /*     text-align: left; */
  }
  .text-section > p {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 52px;
  }
  .steps {
    /*     margin-top: 20px; */
    gap: 24px;
  }
  .step {
    /*     height: 52px; */
    padding-right: 15px;
    font-size: 16px;
    line-height: 1.25;
    height: 76px;
  }
  /*   .step::before {
    width: 35px;
    height: 35px;
    font-size: 16px;
    left: 5px;
    border-width: 5px;
  } */
}
@media only screen and (min-width: 1280px) {
  /*   .container-hidth {
    flex-direction: row;
    align-items: center;
  } */

  .hit-container {
    flex-wrap: nowrap;
  }

  .image-section,
  .text-section {
    width: 100%;
  }

  .image-section,
  .text-section {
    padding: 100px 100px;
    width: 100%;
  }
  /*   .text-section {
    width: 100%;
    padding: 50px;
  } */
  .text-section > p {
    margin-bottom: 104px;
  }
}
