.review{
    background-color:#FBFBFB;
    padding-top: 80px;
    padding-bottom: 80px;
}

.title_rew{
    display: block;
    margin-bottom: 40px;
}

.head_review{
    color: #141414;
    margin-bottom: 20px;
}

.custommers{
    color: #576F35;
}

.words{
    color: #141414;
}

.review_card{
    display:flex;
}

.review_card .card:not(:first-child) {
    display: none;
}

.card{
    box-sizing: border-box;
    min-width: 335px;
    min-height: 228px;
    border: 1px solid #D4BFC4;
    border-radius: 24px;
    padding: 20px 16px;
}

.reviewer{
    padding-right: 16.5px;
    padding-left: 16.5px;
}
.foto{
    justify-self: center;
    border-radius: 50%;

}
.reviewer_name{
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #141414;
    margin-bottom: 8px;
    padding-top: 24px;
}

.comment{
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color:#858585;
    padding-right: 7px;
    padding-left: 7px;
}