.vegetables {
background-color: #7a3145;
padding-top: 80px;
padding-bottom: 80px;
}

.veg-titel {
font-weight: 600;
font-size: 48px;
line-height: 108%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;
max-width: 335px;
margin-bottom: 20px;
}

.veg-titel-span {
color: #D4BFC4;
}

.veg-descr {
font-weight: 500;
font-size: 14px;
line-height: 143%;
color: #fbfbfb;
max-width: 335px;
margin-bottom: 40px;
}

.veg-list {
display: flex;
flex-wrap: wrap;
gap: 20px;
}

.veg-list-item {
border-radius: 40px;
padding: 32px 24px;
max-width: 335px;
max-height: 376px;
background-color: #fbfbfb;
}

.veg-list-title {
font-weight: 600;
font-size: 28px;
line-height: 100%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #7a3145;
margin-bottom: 12px;
}

.veg-list-descr {
font-weight: 500;
font-size: 14px;
line-height: 143%;
color: #141414;
}

.content-descr {
margin-bottom: 12px;
}